.DS_Store
**/recovery/*
**/.vs/*
BeefSpace_User.toml
build/Debug_Win64/corlib/build.dat
build/Debug_Win64/corlib/corlib__.lib
build/Debug_Win64/corlib/build.dat
BeefSpace_User.toml
build/Debug_Win64/corlib/build.dat
build/Debug_Win64/corlib/corlib__.lib
build/Debug_Win64/Mince/build.dat
build/Debug_Win64/Mince/Mince__.lib
build/Debug_Win64/MinceTest/build.dat
build/Debug_Win64/MinceTest/MinceTest.exe.build.txt
build/Debug_Win64/MinceTest/MinceTest.pdb
build/Debug_Win64/MinceTest/MinceTest__.lib
build/Debug_Win64/MinceTest/vdata.obj
build/Debug_Win64/SDL2/build.dat
build/Debug_Win64/SDL2/SDL2__.lib
